PORT=3000
APP_URL=http://localhost:3000
JWT_SECRET=cambia_esta_clave_larga_y_privada

DB_HOST=localhost
DB_PORT=3308
DB_USER=root
DB_PASSWORD=tu_contrasena_mysql
DB_NAME=pagina_panel
DB_SSL=false

ADMIN_USERNAME=admin
ADMIN_PASSWORD=Admin12345
HELPER_USERNAME=ayudante
HELPER_PASSWORD=Ayudante12345
